* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  text-align: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  width: 40%;
  margin: 30px auto;
  background-color: rgb(231, 211, 184);
}

#linea {
  padding: 2px;
  margin-top: 10px;
  background-color: #d54d7b;
}

h1 {
  color: #d54d7b;
  font-family: "Great Vibes", cursive;
  font-weight: normal;
  text-shadow: 0 1px 1px #fff;
}

.logo img {
  height: 180px;
  width: 180px;
  border-radius: 50%;
}

.espera img {
  height: 180px;
  width: 180px;
  border-radius: 50%;
  visibility: hidden;
}

.cuadro {
  background-color: #d54d7b;
  border-radius: 5%;
  margin: 10px;
  color: white;
}

.cuadro div {
  margin: 20px;
}
